@import 'variables';

.btn-standard {
  background: none;
  border: none;
  outline: none;
}

.arrow {
  border-width: 8px;
  z-index: 10
}

.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.arrow:after {
  border-width: 7px;
  content: ""
}

.arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  top: -8px
}

.arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff
}


ul.list-messages {
  margin-left: 30px;
  margin-right: 10px;
  border-left: 2px solid $gray-color-1d;
  li.message {
    cursor: pointer;
    text-align: justify;
    padding: 25px 15px 15px;
    display: block;
    min-height: 45px;
    border-radius: 3px;
    margin: 20px 0 20px 40px;
    background: $white-color;
    position: relative;
    border-left: 4px solid transparent;
    font-size: 0.875em;
    &:before {
      width: 10px;
      height: 10px;
      border-style: solid;
      content: " ";
      position: absolute;
      left: -14px;
      top: 19px;
      border-width: 8px 8px 8px 0;
      border-color: transparent $white-color transparent transparent;
      display: block;
    }
    .date {
      position: absolute;
      left: -69px;
      top: 0;
      width: 50px;
      height: 50px;
      background: #556b8d;
      border-radius: 50%;
      text-align: center;
      line-height: 1.2em;
      span {
        color: #fff;
        font-size: 18px;
        display: block;
        margin-top: 7px;
        font-weight: 600;
        &.small {
          color: #fff;
          font-size: 12px;
          display: block;
          margin-top: 5px;
        }
      }
    }
    p.message-title {
      font-size: 12px;
      color: $gray-color-1h;
      position: absolute;
      top: 7px;
    }
    div.message-content {
      line-height: 20px;
    }
  }
  li.message-unread {
    background-color: $gray-color-1d;
  }
}

ul.list-users {
  margin-left: 30px;
  margin-right: 10px;
  border-left: 2px solid $gray-color-1d;
  li.user {
    text-align: justify;
    padding: 15px 75px 15px 15px;
    display: block;
    min-height: 45px;
    border-radius: 3px;
    margin: 20px 0 20px 40px;
    background: $white-color;
    position: relative;
    border-left: 4px solid transparent;
    font-size: 0.875em;
    p {
      margin: 0px;
    }
    &:before {
      width: 10px;
      height: 10px;
      border-style: solid;
      content: " ";
      position: absolute;
      left: -14px;
      top: 19px;
      border-width: 8px 8px 8px 0;
      border-color: transparent $white-color transparent transparent;
      display: block;
    }
    .avatar-user {
      position: absolute;
      left: -69px;
      top: 0;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 1.2em;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .user-content {
      a {
        color: $black-color-1a;
      }
    }
    .btn-friend {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      border-radius: 0px 3px 3px 0px;
      width: 70px;
      outline: none;
      border: none;
      @include transition(opacity 0.1s linear);
      p {
        color: $white-color;
        font-weight: bold;
        text-align: center;
      }
      &.btn-friend-add {
        background: $green-color-1a;
      }
      &.btn-friend-remove {
        background: $red-color-1a;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
