.gray-color {
	color: #666 !important;
}

.green-color {
	color: #5cb85c!important;
}

.rose-color {
	color: #fe747a !important;
}

.green-bg {
	background: #5cb85c!important;
}

.custom-btn {
	outline: none !important;
	background: none !important;
	border: none !important;
}

body {
	background: #fff !important;
}

/* custom padding bottom */
.custom-bottom-margin {
	margin-bottom: 0px !important;
}

/*header*/

#header {
	
}

#header #top-header {
	background: image-url("cover.png") no-repeat;
	background-size: cover;
}

#header #social {
	height: 35px;
	box-sizing: border-box;
	overflow: hidden;
}

#header #social #social-list {

}

#header #social #social-list a{
	display: block;
	width: 35px;
	height: 35px;
	float: right;
	margin-left: 10px;
	text-align: center;
	padding: 5px;
}

#header #social #social-list i{
	font-size: 1.9em;
}

#header #logo {
	text-align: center;
	height: 100px;
	overflow: hidden;
}

#header #logo img{
	height: 100px;
	width: auto;
}


#header #nav-top #nav-custom{
	margin: 0px;
}

.fixed-nav-nar {
	position: fixed;
	top: 0px;
	z-index: 99;
	width: 100%;
}

/* custom color nav bar */

.navbar-default {
  background-color: #5cb85c;
  border-color: #539f53;
}
.navbar-default .navbar-brand {
  color: #fff9f9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fbfbfb;
}
.navbar-default .navbar-text {
  color: #fff9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #fff9f9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fbfbfb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #5cb85c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff9f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fbfbfb;
  background-color: #539f53;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #539f53;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fbfbfb;
  background-color: #539f53;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fbfbfb;
  background-color: #539f53;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fbfbfb;
  background-color: #539f53;
}
.navbar-default .navbar-toggle {
  border-color: #539f53;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #539f53;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff9f9;
}
.navbar-default .navbar-link {
  color: #fff9f9;
}
.navbar-default .navbar-link:hover {
  color: #fbfbfb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fbfbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fbfbfb;
    background-color: #539f53;
  }
}

/**
 * -----------------------------
 */


/* end header */

/* main */

#main {
}

/* left-menu */

#left-menu {
	border: 1px solid #ddd;
	position: relative;
}


#left-menu .sidenav {
	
	padding: 0px;
}

#left-menu .sidenav li {
	list-style-type: none;
}

#left-menu .sidenav li:first-child {
	margin-top: 15px;
}

#left-menu .sidenav li:last-child {
	margin-bottom: 15px;
}


#left-menu .sidenav #close {
	position: absolute;
	right: 15px;
	top: 10px;
	color: #fff;
	display: none;
	height: 35px;
	width: 35px;
	transition: 0.3s;
}

#left-menu .sidenav #close:hover {
	color: #ddd;
}

#left-menu .sidenav #close i {
	font-size: 2.9em;
}

#left-menu .sidenav ul {
	margin: 0px;
	padding: 0px;
}

#left-menu .sidenav li a {
	display: block;
	padding: 8px 8px 8px 32px;
	font-size: 1.2em;
	transition: 0.3s;
	text-decoration: none;
	color: #fff;
}


#left-menu-toggle {
	padding: 5px;
	display: none;
}

#left-menu-toggle a{
	display: block;
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

#left-menu-toggle i{
	font-size: 2em;
}

#left-menu .sidenav li a:hover {
	color: #ddd;
}

@media screen and (max-width: 768px) {
	#left-menu {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		z-index: 9999;
		width: 300px;
	}

	#left-menu .sidenav li a {
		font-size: 1.5em;
	}

	#left-menu-toggle {
		display: block;
	}

	#left-menu .sidenav #close {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	#left-menu {
		display: block !important;
	}
}

/* end left-menu */

#main-content .title-content {
	margin: 0px;
	padding: 10px 15px;
	color: #fff;
}

/* images */

#image-list .image {
	position: relative;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-top: 5px;
}


#image-list .image .author{
	position: absolute;
	bottom: 30px;
	left: 7px;
	color: #fff;
	font-weight: bold;
}

#image-list .image .views{
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 25px;
	border-top: 1px solid gray;
	padding-top: 5px;
}

#image-list .image .views p{
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}


#image-list .image .views .view {
	float: left;
	margin-left: 10px;
}

#image-list .image .views .n-view {
	float: right;
	margin-right: 10px;
}

#image-list .image img{
	max-width: 100%;
	max-height: 100%;
}

#image-list .image .title-group {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#image-list .image:hover .title-group{
	visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 480px) {
	#image-list .image {
		width: 300px;
		height: 300px;
		display: block;
		margin: 0 auto;
		margin-top: 5px;
	}
}

/* album */

#album-list {
	overflow: hidden;
}

#album-list .album{
	position: relative;
	width: 100%;
	display: inline-block;
	margin-top: 5px;
	cursor: pointer;
}



#album-list .album img{
	width: 100%;
	height: 100%;
}

#album-list .album .album-title{
	border: 1px solid #ddd;
	height: 60px;
}

#album-list .album .album-title p{
	margin: 5px 10px;
}

#album-list .album .album-title .author-al {
	font-size: 12px;
	font-weight: bold;
}

#album-list .album .album-title .views {
	color: #7f7f7f;
	font-size: 14px;
}

#album-list .col:hover .album{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}


#album-list .col .btn-detail {
	z-index: 9;
	position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: none;
}

#album-list .col:hover .btn-detail{
	display: block;
}

/* end main  */


/* about us */

#about-us {
	margin-top: 20px;
	border: 1px solid #ddd;
	overflow: hidden;
}

#about-us .personal-img {
	border-right: 1px solid #ddd;
	padding: 5px;
}

#about-us p span{
	font-weight: bold;
}

#about-us .personal-img img{
	max-width: 100%;
	height: 300px;
	width: auto;
}

#map {
	margin-top: 20px;
}

#map #map-contain {
	width: 100%;
	height: 450px;
	border: 1px solid #ddd;
	margin-top: 20px;
}

#map #map-contain iframe{
	width: 100% !important;
}

@media screen and (max-width: 992px) {
	#about-us .personal-img {
		border: none;
		text-align: center;
		margin-bottom: 20px;
	}
}

/* blogs */

#blogs-list {
	padding: 1px;
	background: #e9ebee;
}

#blogs-list .blog{
	background: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	width: 94%;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#blogs-list .blog:last-child{
	margin-bottom: 20px;
}

#blogs-list .blog .title-post{
	overflow: hidden;
}

#blogs-list .blog .title-post .post-info{
	margin-left: 20px;
	float: left;
	}

#blogs-list .blog .title-post .avartar{
	border: 1px solid #999;
	padding: 1px;
	width: 60px;
	height: 60px;
	float: left;
}

#blogs-list .blog .title-post .avartar img{
	width: 100%;
	height: 100%;
}

#blogs-list .blog .title-post .user-post{
	font-size: 1em;
	font-weight: bold;
}

#blogs-list .blog .title-post .time{
	font-size: 11px;
	color: #666;
}

#blogs-list .blog .content-post{
	margin-top: 10px;
}

#blogs-list .blog .content-post .main-content-post{
	text-align: justify;
}

#blogs-list .blog .content-post .detail-views{
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 10px;
	color: #7f7f7f;
}


/* end blogs */

/* footer */

#footer {
	margin-top: 20px;
}

#footer #about {
	overflow: hidden;
	text-align: center;
	margin-top: 5px;
	padding-top: 20px;	
	border-top: 1px solid #ddd;
}

#footer #about li {
	list-style-type: none;
	display: inline;
}

#footer #about li a {
	color: #333;
	text-decoration: none;
}

#footer #content-footer {
	margin-top: 30px;
}

#footer #content-footer #follow{
	overflow: hidden;
}

#footer #content-footer #follow img{
	width: 40px;
	height: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	float: right;
	margin-left: 10px;
}

#footer #content-footer #follow h4{
	text-align: right;
}

#footer #copy-right{
	margin-top: 15px;
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 10px;
	color: #ddd;
}

.title-follow {
	text-align: right;
}

@media screen and (max-width: 768px) {
	.title-follow{
		margin-top: 5px;
		text-align: left;
	}
	#footer #content-footer #follow img{
		float: left;
	}
	#footer #content-footer #follow img:first-child{
		margin-left: 15px;
	}
}

/* end footer */

.erorrs-su li {
	font-size: 10px;
	color: red;
}

.erorrs-su li:first-child{
	margin-top: 2px;
}

.myaleart {
  margin-bottom: 0px;
  padding: 10px;
}