%footer#footer.container
  %ul#about.custom-bottom-margin
    %li
      %a{:href => "#"} about us
    %li
      | 
      %a{:href => "#"} about us
    %li
      | 
      %a{:href => "#"} about us
  #content-footer.row
    .col-md-6.col-xs-12
      %h4.title-form Sign up form free
      %form
        .col-md-10.col-xs-12
          .form-group
            %input#email.form-control{:placeholder => "Enter email", :type => "email"}/
        .col-md-2.col-xs-12
          %button.btn.btn-success{:type => "submit"} Submit
    .col-md-6.col-xs-12
      %h4.title-follow Follow us
      #follow
        %img{:alt => "footer-img", :src => "#"}/
  #copy-right
    © 2017 NATURALE.  Theme by Clean Themes. Ecommerce Software by Shopify
