%header#header
	.h-container.container
		#logo.col-md-3.col-sm-3
			%a{:href => "/"}
				= image_tag('logo.png')
				%span Lab02
		.search-box.col-md-6.col-sm-6
			%form
				%input.text-ip-search{:name => "", :placeholder => "Search Messages...", :type => "text"}/
				%button.btn-standard{:type => "submit"}
					%i.fa.fa-search
		- if current_user
			.personal-info.col-md-3.col-sm-3
				.options-opt
					%a#opt-info-clk.opt-info{"data-indicate" => "close"}
						= current_user.decorate.user_thumb_avatar
						%span
							= current_user.name
							%i.fa.fa-caret-down
					.avatar-info
						%ul
							%li#progress-bar-c
								%span.arrow.top
								%h5.pr-info
									%span.pr-percent 80%
									Profile Complete
								.progress
									.progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width:80%"}
							%li.a-normal
								%a{:href => "/user"}
									%i.fa.fa-cog{"aria-hidden" => "true"}
									Profile
							%li.a-normal.a-logout
								= link_to destroy_user_session_path, method: :delete do 
									%i.fa.fa-sign-out{"aria-hidden" => "true"}
									Logout
