%header#header
	#top-header
		#social.container
			#social-list.col-md-6.col-md-offset-6.col-xs-12
				%a.logo.green-color{:href => "#"}
					%i.fa.fa-facebook{"aria-hidden" => "true"}
				%a.logo.green-color{:href => "#"}
					%i.fa.fa-twitter{"aria-hidden" => "true"}
				%a.logo.green-color{:href => "#"}
					%i.fa.fa-tumblr{"aria-hidden" => "true"}
		#banner
			#logo
				%a{:href => "#"}
					= image_tag 'manu.png', alt: 'logo-img'
	#nav-top
		#nav-top.container
			%nav#nav-custom.navbar.navbar-static-top.navbar-toggleable-md.navbar-default.bg-faded
				.container-fluid
					.navbar-header
						%button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
						%a.navbar-brand{:href => "#"}  
					#myNavbar.collapse.navbar-collapse
						%ul.nav.navbar-nav
							%li{:class => "#"}
								%a{:href => "/"} Home
							%li{:class => "#"}
								%a{:href => "/albums"} Albums
							%li{:class => "#"}
								%a{:href => "/posts"} Blogs
							%li{:class => "#"}
								%a{:href => "/about"} About
						%ul#nav-user-info.nav.navbar-nav.navbar-right
							%li
								%a{:href => ""}
									%i.fa.fa-user{"aria-hidden" => "true"}
									Me
							%li
								%a{:href => "/sessions/logout"}
									%i.fa.fa-sign-out{"aria-hidden" => "true"}
							/
								<li><a href="" data-toggle="modal" data-target="#modal-login" ><i class="fa fa-sign-in" aria-hidden="true"></i>	Login </a></li>
								<li><a href=""  data-toggle="modal" data-target="#modal-signup"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
