#left-menu-toggle
  %button#open.green-color.custom-btn{:href => "#"}
    %i.fa.fa-bars{"aria-hidden" => "true"}
#left-menu.col-md-3.green-bg
  .sidenav
    %button#close.custom-btn{:href => "#"}
      %i.fa.fa-times{"aria-hidden" => "true"}
    %ul
      %li
        %a{:href => "#"} New Albums
      %li
        %a{:href => "#"} Category 1
      %li
        %a{:href => "#"} Category 1
      %li
        %a{:href => "#"} Category 1
      %li
        %a{:href => "#"} Category 1
      %li
        %a{:href => "#"} Category 1
